<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Luke and Matt Makai">
  {% block meta_header %}{% endblock %}
  <link rel="shortcut icon" href="/source/static/img/logo.png">
  <title>{% block title %}{% endblock %}Full Stack Java</title>
  <link href="/source/static/css/f.css" rel="stylesheet">
</head>
<body>
  {% block banner %}{% endblock %}
  <a href="https://github.com/mattmakai/fullstackjava.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/source/static/img/fork.png" alt="Fork me on GitHub"></a>
  <div class="container">
    {% include "nav.html" %}
    {% block content %}{% endblock %}
    <hr/>
  </div> 
  {% block lower_banner %}{% endblock %}
  {% include "footer.html" %}
  {% include "googleanalytics.html" %}
  {% block js %}{% endblock %}
</body>
</html>
