<div class="col-md-offset-1 col-md-2" id="sidebar">
  <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-head">Full Stack Java</h3>
      </div>
      <div class="panel-body">
          View the 
          <a href="/table-of-contents.html">table of contents</a> if you're
          looking for a specific topic.
          <hr/>
          <a href="/">Full Stack Java</a> is an open book that explains
          concepts in plain language and provides the most helpful resources 
          on those topics.
      </div>
  </div>
</div>
