<div class="sans-font">
    <a href="/table-of-contents.html" class="submenu-item-first">All topics</a> 
    <!--
    <span style="margin:0 12px 0 12px">|</span>
    <a href="/blog.html" class="submenu-item">Blog</a>
    -->
    <span style="margin:0 12px 0 12px">|</span>
    <a href="https://twitter.com/fullstackjava" class="submenu-item">@fullstackjava</a>
    <span style="margin:0 12px 0 12px">|</span>
    <!-- <a href="https://www.facebook.com/fullstackpython" class="submenu-item">Facebook</a> <span style="margin:0 12px 0 12px">|</span> -->
    <a href="https://github.com/mattmakai/fullstackjava.com" class="submenu-item">Source</a> 
</div>
