<h3>That's the history of Full Stack Java. What's next?</h3>
<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/introduction.html" %}
        </div>
    </div>
    <!--
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/introduction.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/introduction.html" %}
        </div>
    </div>
    -->
</div>
